<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldp.Carproject.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.ldp.Carproject.pojo.Car">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Car_Num" jdbcType="VARCHAR" property="carNum" />
    <result column="Car_Type" jdbcType="VARCHAR" property="carType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, Car_Num, Car_Type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ldp.Carproject.pojo.Car">
    insert into car (id, Car_Num, Car_Type
      )
    values (#{id,jdbcType=INTEGER}, #{carNum,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ldp.Carproject.pojo.Car">
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carNum != null">
        Car_Num,
      </if>
      <if test="carType != null">
        Car_Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldp.Carproject.pojo.Car">
    update car
    <set>
      <if test="carNum != null">
        Car_Num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        Car_Type = #{carType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldp.Carproject.pojo.Car">
    update car
    set Car_Num = #{carNum,jdbcType=VARCHAR},
      Car_Type = #{carType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>