<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldp.Carproject.dao.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.ldp.Carproject.pojo.Commodity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="ShangP_Type" jdbcType="VARCHAR" property="shangpType" />
    <result column="Price" jdbcType="DECIMAL" property="price" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="Input_Time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="Shangp_Id" jdbcType="INTEGER" property="shangpId" />
    <result column="Classify_Id" jdbcType="INTEGER" property="classifyId" />
    <association property="shangplb" javaType="com.ldp.Carproject.pojo.Shangplb">
      <id column="s_id" property="id"/>
      <result column="s_classify" property="shangpClassify"/>
    </association>
    <association property="shangpzt" javaType="com.ldp.Carproject.pojo.Shangpzt">
      <id column="st_id" property="id"/>
      <result column="st_ShangpState" property="shangpState"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, `Name`, ShangP_Type, Price, State, Input_Time, Shangp_Id, Classify_Id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--分页查询-->
    <select id="findCommodityByCondition" resultMap="BaseResultMap">
      select
      s.id as s_id,s.shangp_Classify as s_classify,com.id,`Name`,com.ShangP_Type,Price,State,Input_Time,com.Shangp_Id,com.Classify_Id
      from commodity com
      left join shangplb s
      on com.Shangp_Id=s.id
      left join shangpzt st
      on com.Classify_Id=st.id
      <where>
        <if test="condition!=0 and condition!=null">
          com.Shangp_Id=#{condition}
          com.Classify_Id=#{condition}
        </if>
      </where>
      ORDER BY Price ASC
      Limit #{offset},#{pageSize}
    </select>
  <!--根据条件查询数量-->
  <select id="getCountByCondition" resultType="java.lang.Integer">
    select count(1)
    from commodity com
    left join shangplb s
    on com.Shangp_Id=s.id
    left join shangpzt st
    on com.Classify_Id=st.id
    <where>
      <if test="condition!='' and condition!=null">
        s.ShangP_Type LIKE CONCAT('%',#{condition},'%')
        st.State LIKE CONCAT('%',#{condition},'%')
      </if>
    </where>
    ORDER BY Price ASC
  </select>
  <!--根据主键查询对应的商品信息-->
  <select id="findCommodityById"  resultMap="BaseResultMap">
    select
    s.id as s_id,s.shangp_Classify as s_classify,com.id,`Name`,com.ShangP_Type,Price,State,Input_Time,com.Shangp_Id,com.Classify_Id
    from commodity com
    left join shangplb s
    on com.Shangp_Id=s.id
    left join shangpzt st
    on com.Classify_Id=st.id
    where com.id=#{id}

  </select>
  <!--根据主键更新商品信息-->
  <update id="updateCommodityById">
    update commodity
    set Name = #{name,jdbcType=VARCHAR},
      ShangP_Type = #{shangpType,jdbcType=VARCHAR},
      Price = #{price,jdbcType=DECIMAL},
      State = #{state,jdbcType=INTEGER},
      Input_Time = #{inputTime,jdbcType=TIMESTAMP},
      Shangp_Id = #{shangpId,jdbcType=INTEGER},
      Classify_Id = #{classifyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--删除商品信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ldp.Carproject.pojo.Commodity">
    insert into commodity (id, Name, ShangP_Type, 
      Price, State, Input_Time, 
      Shangp_Id, Classify_Id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shangpType,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER}, #{inputTime,jdbcType=TIMESTAMP}, 
      #{shangpId,jdbcType=INTEGER}, #{classifyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ldp.Carproject.pojo.Commodity">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="shangpType != null">
        ShangP_Type,
      </if>
      <if test="price != null">
        Price,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="inputTime != null">
        Input_Time,
      </if>
      <if test="shangpId != null">
        Shangp_Id,
      </if>
      <if test="classifyId != null">
        Classify_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shangpType != null">
        #{shangpType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shangpId != null">
        #{shangpId,jdbcType=INTEGER},
      </if>
      <if test="classifyId != null">
        #{classifyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!--新增商品信息-->
    <insert id="insertCommodity">
   insert into commodity(
			`Name`,
			`ShangP_Type`,
			`Price`,
			`State`,
			`Input_Time`,
			`Shangp_Id`,
			`Classify_Id`)
		values(
			#{name},
			#{shangpType},
			#{price},
			#{state},
			#{inputTime},
			#{shangpId},
			#{classifyId})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ldp.Carproject.pojo.Commodity">
    update commodity
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shangpType != null">
        ShangP_Type = #{shangpType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null">
        Input_Time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shangpId != null">
        Shangp_Id = #{shangpId,jdbcType=INTEGER},
      </if>
      <if test="classifyId != null">
        Classify_Id = #{classifyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldp.Carproject.pojo.Commodity">
    update commodity
    set Name = #{name,jdbcType=VARCHAR},
      ShangP_Type = #{shangpType,jdbcType=VARCHAR},
      Price = #{price,jdbcType=DECIMAL},
      State = #{state,jdbcType=INTEGER},
      Input_Time = #{inputTime,jdbcType=TIMESTAMP},
      Shangp_Id = #{shangpId,jdbcType=INTEGER},
      Classify_Id = #{classifyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>