<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldp.Carproject.dao.ShangplbMapper">
  <resultMap id="BaseResultMap" type="com.ldp.Carproject.pojo.Shangplb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Shangp_classify" jdbcType="VARCHAR" property="shangpClassify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, Shangp_classify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shangplb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shangplb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ldp.Carproject.pojo.Shangplb">
    insert into shangplb (id, Shangp_classify)
    values (#{id,jdbcType=INTEGER}, #{shangpClassify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ldp.Carproject.pojo.Shangplb">
    insert into shangplb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shangpClassify != null">
        Shangp_classify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shangpClassify != null">
        #{shangpClassify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldp.Carproject.pojo.Shangplb">
    update shangplb
    <set>
      <if test="shangpClassify != null">
        Shangp_classify = #{shangpClassify,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldp.Carproject.pojo.Shangplb">
    update shangplb
    set Shangp_classify = #{shangpClassify,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>